<div id="editDialog" style="display: none;">
    <p>You are now about to enter the edit mode.</p>

    <p style="font-size: 13px;">
        In the edit mode, you can modify every attribute you want.
        Although, after you commit the changes, they need to be reviewed and acceppted
        by one of our moderators. You will be notified when your modifications are
        applied to the database.
    </p>

    <p style="margin-botton: 15px;">Do you want to continue?</p>
    <input type="button" style="margin-top: 15px;" value="Continue" class="cyan continueButton" />
    <input type="button" style="margin-top: 15px;" value="Cancel" class="red cancelButton" />
</div>

<div id="confirmDialog" style="display: none;">
    <p>Confirm</p>

    <p style="font-size: 13px;">
        Please confirm your changes by describing them briefly and giving us your
        e-mail address, so we can let you know when they are commited.
    </p>

    <div class="spacer"></div>
    <div class="left">Brief description:</div>
    <div class="right"><input type="text" id="descriptionText"/></div>
    <div class="spacer"></div>
    <div class="left">E-mail address:</div>
    <div class="right"><input type="text" id="emailText"/></div>
    <div class="spacer"></div>
    <input type="button" style="margin-top: 15px;" value="Confirm" class="cyan confirmButton" />
</div>

<div id="successMsg" style="display: none;">
    <p>Thank you</p>

    <p style="font-size: 13px;">
        Thank you for contributing to the Vatsinator project. Our moderators will have your
        commit reviewed soon, and you will be notified when your changes are merged with the
        database.
    </p>
    <input type="button" style="margin-top: 15px;" value="Close" class="cyan closeButton" />
</div>

<div id="errorMsg" style="display: none;">
    <p>Error</p>

    <p>We are sorry, but an error occured during executing this operation. Please try again later.</p>

    <p id="errorText"></p>
    <input type="button" style="margin-top: 15px;" value="Close" class="red closeButton" />
</div>