{% extends "__base.html" %}

{% block content %}
    <h1>Welcome</h1>
    <p>
        Welcome to the <i>Vatsinator database</i> service. It is where
        <a href="http://vatsinator.eu.org/">Vatsinator</a> gets its data from. The
        <i>Vatsinator database</i> is open for everyone. It was created in order to
        always provide correct and updated data.
    </p>

    <h1>How does it work?</h1>
    <p>
        Vatsinator uses a couple of databases in order to work properly. For
        example, there is the airport database that lets the application show all
        the airports around the world. Of course, having more than 6000 airpots in
        the database there is a notifiable probability that some of them contain
        wrong coordinates, their name is mispelled or any other component is
        inaccurate. Whats is more, there are new airports being built and old
        ones are closed. That is why the Vatsinator online database service was
        created.
    </p>

    <p>
        When a user launches Vatsinator, it synchronizes the local data with the
        remote server. The data set consists of:
    <ul>
        <li>the airport database - containing coordinates, name, location, ICAO
            and IATA codes and more;
        </li>
        <li>the airline database - names, logos and links to the virtual
            equivalents.
        </li>
    </ul>
    </p>

    <h1>Participate</h1>
    <p>
        The main goal of the <i>Vatsinator database</i> service is to provide
        accurate data. Therefore, this database can be freely updated and modified
        by anyone. We encourage everybody to modify any incorrect entries found.
        One can do that without any need to sign up or sign in.
    </p>

    <p>
        Any commited changed has to be reviewed and approved by one of the
        moderators before it gets merged into the main database.
    </p>

    <h1>Database statistics</h1>
    <p>
    <ul tx-content="notranslate_urls">
        <li>Airlines: <strong><span class="notranslate">{{ airline_count }}</span></strong></li>
        <li>Airports: <strong><span class="notranslate">{{ airport_count }}</span></strong></li>
        {% if last_commit %}
            <li>Recently updated: <strong><a href="{{ last_commit.url }}">{{ last_commit.content_object }}</a></strong>
                (<span class="notranslate">{{ last_commit.description }}</span>)
            </li>
        {% endif %}
    </ul>
    </p>
{% endblock %}