# KDevelop project file
*.kdev4

# dolphin
.directory

# Compiled python modules
*.pyc

# These files should be hidden
vatsinatordatabase/settings/90-local.conf.py
vatsinatordatabase/settings/db.cnf

# pycharm
.idea

