/**
 * common.css
 * 
 * Author: Michał Garapich <michal@garapich.pl>
 * License: GNU General Public License version 3
 * Version: 0.1 beta
 * 
 * ==[ TABLE OF CONTENTS ]==
 *   1. GLOBAL
 *   2. HEADER
 *   3. BODY
 */

/* ==[ 1. GLOBAL ]== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

input {
    border-radius: 2px;
}

input[type=text],
input[type=password] {
    background-color: #ffffff;
    border: 1px solid #D2D2D2;
    width: 200px;
    padding: 8px 18px;
}

input[type=text]:hover,
input[type=text]:focus {
    border: 1px solid #A1A1A1;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}

input[type=text].default {
    font-style: italic;
    color: #B2B2B2;
}

input[type=button],
input[type=submit],
button {
    color: #ffffff;
    padding: 8px 18px;
    border: 1px solid #ffffff;
}

input[type=button]:hover,
input[type=submit]:hover,
button:hover {
    color: #ffffff;
}

input[type=button]:disabled,
input[type=submit]:disabled,
button:disabled {
    background-color: #48595d !important;
    color: #777777;
}

/* Color: cyan */
input[type=button].cyan,
input[type=submit].cyan,
button.cyan {
    background-color: #47BAFF;
}

input[type=button].cyan:hover,
input[type=submit].cyan:hover,
button.cyan:hover {
    background-color: #2BAEFF;
}

/* Color: red */
input[type=button].red,
input[type=submit].red,
button.red {
    background-color: #F49194;
}

input[type=button].red:hover,
input[type=submit].red:hover,
button.red:hover {
    background-color: #F1767A;
}

ul {
    list-style-type: none;
}

ul li {
    background: #ffffff url("/static/img/list-style-image.png") no-repeat 0px 5px;
    padding-left: 15px;
}

a {
    color: #2296D9;
    text-decoration: none;
}

a:hover {
    color: #23DBEB;
}

a.paginating {
    color: #4B4B4B;
    font-weight: bold;
    font-size: 12px;
}

a.paginating:hover {
    color: #313131;
}

/* ==[ 2. HEADER ]== */
#header {
    width: 100%;
    height: 80px;
    background: #323232;
    box-shadow: 0px 1px 10px #323232;
}

#header div {
    width: 970px;
    margin: 0 auto;
    position: relative;
}

#header div h1 {
    padding: 24px 10px 10px 0px;
    font-size: 1.5em;
    float: left;
}

#header div h1 a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

#header h1 .beta {
    font-size: 0.7em;
    font-weight: normal;
    color: #28B0FF;
}

#header div #menu {
    float: right;
    width: 150px;
    padding: 50px 10px 10px 0;
    font-size: 0.8em;
    height: 20px;
}

#header div #logo {
    width: 60px;
    height: 60px;
    background: #323232 url("/static/img/logo.png") no-repeat right top;
    position: absolute;
    left: -75px;
    top: 10px;
}

/* ==[ 3. BODY ]== */
#bodyWrapper {
    width: 970px;
    margin: 0 auto;
    padding: 20px 5px 10px 5px;

    font-size: 0.9em;
    font-weight: normal;
}

#bodyWrapper h1 {
    font-size: 1.1em;
    font-weight: bold;
}

#bodyWrapper h2 {
    font-size: 1.0em;
    font-weight: bold;
}

#bodyWrapper p {
    margin: 10px 0 0 0;
}

#bodyWrapper p.paginating {
    width: 100%;
    margin: 0;
}

#bodyWrapper p.paginating .prev {
    float: left;
}

#bodyWrapper p.paginating .next {
    float: right;
}

#bodyWrapper p.paginating .center {
    margin: 0 auto;
    width: 200px;
    display: block;
    text-align: center;
}

#bodyWrapper p + h1 {
    margin-top: 20px;
}

#bodyWrapper p .error_message {
    font-weight: bold;
    color: #FF7171;
}

#bodyWrapper #footer {
    width: 100%;
    margin: 30px 0 0 0;
    text-align: right;
    border-top: 1px solid #aaaaaa;
    color: #323232;
    font-size: 0.75em;
    clear: both;
}

#bodyWrapper #footer .copyright {
    margin: 5px 5px 0 0;
}

#bodyWrapper table.form {
    margin: 10px;
}

#bodyWrapper table.form td {
    padding: 0px 5px;
}