/**
 * navigation.css
 * 
 * Author: Michał Garapich <michal@garapich.pl>
 * License: GNU General Public License
 * Version: 0.1 beta
 */

ul.menu_top {
  list-style: none;
  background: transparent;
}

  ul.menu_top li {
    float: left;
    position: relative;
    background: transparent;
  }
  
    ul.menu_top li a {
      color: #ffffff;
      display: block;
      text-decoration: none;
      float: left;
      padding: 5px 15px;
    }
    
    ul.menu_top li a.hover {
      background-color: #232B32;
    }
    
      ul.menu_top li ul.menu_sub {
        list-style: none;
        position: absolute;
        left: -60px;
        top: 25px;
        background: #323232;
        display: none;
        float: left;
        width: 220px;
        padding: 0px 0px 10px 0px;
        box-shadow: 0px 1px 10px #323232;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        z-index: 1000;
      }
      
        ul.menu_top li ul.menu_sub li {
          margin: 0;
          padding: 0;
          clear: both;
          width: 190px;
        }
        
          ul.menu_top li ul.menu_sub li a {
            display: block;
            width: 190px;
          }
          
            ul.menu_top li ul.menu_sub li a:hover {
              background-color: #232B32;
            }
      