<body>

<h1 style="font-size: 1.3em; font-weight: bold;">
    <a href="http://database.vatsinator.eu.org/">
        <img src="http://database.vatsinator.eu.org/static/img/logo.png" style="margin: 10px;" alt="VatsinatorDatabase"
             title="VatsinatorDatabase"/>
    </a>
</h1>

<p>
    Hello,<br/>
    you are receiving this message because your commit has been accepted and merged with the database.
</p>

<p>
    <a href="http://database.vatsinator.eu.org/{{ commit.url }}">See the {{ commit.content_type }} here</a>
</p>

<p>
    We are thankful for your contribution to the Vatsinator project. Its main strength is the community, and you are
    part of it.
</p>

<p style="font-size: 0.8em;">
    Please do not reply to this e-mail, as it was sent automatically.
    If you wish to contact any Vatsinator Team member, you can visit <a href="http://vatsinator.eu.org/contact/">this
    page</a>.
</p>

</body>