"""
90-local.conf.py
"""

# Base URL of the project instance
DOMAIN_NAME = 'database.vatsinator.eu.org'

# Debug?
DEBUG = True
TEMPLATE_DEBUG = DEBUG

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/var/www/example.com/media/"
MEDIA_ROOT = ''

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/var/www/example.com/static/"
STATIC_ROOT = ''

SECRET_KEY = 'your-secret-key'

EMAIL_HOST = 'smtp.example.com'
EMAIL_HOST_USER = 'notifications@vatsinator.eu.org'
EMAIL_HOST_PASSWORD = ''
EMAIL_PORT = 587
EMAIL_USE_TTL = True
