span.line {
    clear: both;
    width: 400px;
    display: block;
    padding: 2px;
    height: 18px;
}

span.line .left {
    margin-right: 10px;
    display: block;
    float: left;
    clear: left;
    width: 150px;
}

span.line .right {
    font-weight: bold;
    display: block;
    float: left;
    margin-right: 5px;
    min-width: 10px;
}

span.line .none {
    color: #999999;
    font-weight: normal;
}

#bodyWrapper input[type=text].inline {
    padding: 0;
}

span.editModeLabel {
    float: right;
    font-size: 13px;
    color: #777777;
}

p#details {
    float: left;
}

div#map-canvas {
    float: right;
    width: 500px;
    height: 300px;
}

div#errorMsg #errorText {
    font-weight: bold;
    color: #FF7171;
}
