{% extends "__base.html" %}
{% load staticfiles %}

{% block title %}{{ ap.icao }} {{ ap.name }}, {{ ap.city }} &bull; VatsinatorDatabase{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/details.css" %}" type="text/css"/>
{% endblock %}

{% block js %}
    <script src="{% static "js/airports.js" %}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd169CLoI22Vbm64nYB9i4Wzc0cvroXfI&sensor=false"></script>
{% endblock %}

{% block content %}
    <h1>{{ ap.icao }} {{ ap.name }}, {{ ap.city }}</h1>

    <p id="details">
        <input type="hidden" id="latitude" value="{{ ap.latitude }}"/>
        <input type="hidden" id="longitude" value="{{ ap.longitude }}"/>

  <span class="line">
    <span class="left">ICAO code:</span>
    <span class="right" id="icao">{{ ap.icao }}</span>
  </span>
  
  <span class="line">
    <span class="left">IATA code:</span>
    <span class="right editable" id="iata">
      {{ ap.iata|default:"<span class=\"none\">unknown</span>" }}
    </span>
  </span>
  
  <span class="line">
    <span class="left">Name:</span>
    <span class="right editable" id="name">{{ ap.name }}</span>
  </span>
  
  <span class="line">
    <span class="left">City:</span>
    <span class="right editable" id="city">
      {{ ap.city|default:"<span class=\"none\">unknown</span>" }}
    </span>
  </span>
  
  <span class="line">
    <span class="left">Country:</span>
    <span class="right editable" id="country">{{ ap.country }}</span>
  </span>
  
  <span class="line">
    <span class="left">Altitude (feet):</span>
    <span class="right editable" id="altitude">{{ ap.altitude }}</span>
  </span>

    </p>
    <div id="map-canvas"></div>
    <p style="height: 20px; clear:both;"></p>
    <p id="buttonField">
        <input type="button" id="enableEditModeButton" value="Edit" class="cyan"/>
        <input type="button" id="saveDetailsButton" value="Save details" class="cyan" style="display: none;"/>
        <input type="button" id="editCancelButton" value="Cancel" class="red" style="display: none;"/>

        <span class="editModeLabel" id="editModeLabel"
              style="display: none;">You may now edit this airport's details.</span>
    </p>
{% endblock %}

{% block bodyEnd %}
    {% include "__editDetails.html" %}
{% endblock %}