{% extends "__base.html" %}
{% load staticfiles %}

{% block title %}{{ a.name }} &bull; VatsinatorDatabase{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/details.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/airlines.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/commitsui.css" %}" type="text/css"/>
{% endblock %}

{% block js %}
    <script src="{% static "js/commits.js" %}" type="text/javascript"></script>
    <script src="{% static "js/airlines.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>{{ a.name }}, {{ a.icao }}</h1>

    <p id="details">
        <span class="line">
            <span class="left">ICAO code:</span>
            <span class="right" id="icao">{{ a.icao }}</span>
        </span>

        <span class="line">
            <span class="left">Name:</span>
            <span class="right editable" id="name">
                {{ a.name|default:"<span class=\"none\">unknown</span>" }}
            </span>
        </span>

        <span class="line">
            <span class="left">Country:</span>
            <span class="right editable" id="country">
                {{ a.country|default:"<span class=\"none\">unknown</span>" }}
            </span>
        </span>

        <span class="line">
            <span class="left">Website:</span>
            <span class="right editable" id="website">
                {{ a.website|default:"<span class=\"none\">unknown</span>" }}
            </span>
        </span>
    </p>
    <div class="logo-field">
        {% if a.logo %}
            <p>Logo:</p>
            <img src="{{ a.logo }}" class="airline-logo"/>
            <form method="post" enctype="multipart/form-data" id="logoUpload" style="display:none;">
                <input type="file" id="logoInput" accept="image/jpeg,image/gif,image/png" name="file"/>
                <img src="{% static "img/ajax-loader.gif" %}" class="logo-upload-progress" style="display:none;"/>
                <input type="submit" value="Upload the new logo" class="cyan" disabled="disabled"/>
            </form>
        {% endif %}
    </div>
    <p style="height: 20px; clear:both;"></p>
    <p id="buttonField">
        <input type="button" id="enableButton" value="Edit" class="cyan"/>
        <input type="button" id="saveButton" value="Save details" class="cyan" style="display: none;"/>
        <input type="button" id="cancelButton" value="Cancel" class="red" style="display: none;"/>

        <span class="editModeLabel" id="editModeLabel"
              style="display: none;">You may now edit this airline's details.</span>
    </p>
{% endblock %}

