{% extends "__base.html" %}
{% load staticfiles %}

{% block title %}{{ a.name }} &bull; VatsinatorDatabase{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/airlines.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/commitsui.css" %}" type="text/css"/>
{% endblock %}

{% block js %}
    <script src="{% static "js/commits.js" %}" type="text/javascript"></script>
    <script src="{% static "js/airlines.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>{{ a.name }}, {{ a.icao }}</h1>

    <div class="column-left">
        <p id="details">
        <span class="line">
            <span class="left">ICAO code:</span>
            <span class="right" id="icao">{{ a.icao }}</span>
        </span>

        <span class="line">
            <span class="left">Name:</span>
            <span class="right editable" id="name">
                {{ a.name|default:"<span class=\"none\">unknown</span>" }}
            </span>
        </span>

        <span class="line">
            <span class="left">Country:</span>
            <span class="right editable" id="country">
                {{ a.country|default:"<span class=\"none\">unknown</span>" }}
            </span>
        </span>

        <span class="line">
            <span class="left">Website:</span>
            <span class="right editable" id="website">
                {{ a.website|default:"<span class=\"none\">unknown</span>" }}
            </span>
        </span>
        </p>
    </div>
    <div class="column-right">
        <div class="logo-field" {% if not a.logo %}style="display: none;"{% endif %}>
            <p>Logo:</p>
            <img src="{{ a.logo|default:"" }}" class="airline-logo"
                 {% if not a.logo %}style="display: none;"{% endif %}/>
        </div>
        <div class="logo-form" style="display: none;">
            <input type="file" id="logoInput" accept="image/jpeg,image/gif,image/png" name="file"/>
            <img src="{% static "img/ajax-loader.gif" %}" class="logo-upload-progress" style="display:none;"/>

            <p class="upload-info">
                You may upload the new logo here. The new logo should be in png format, transparent and it must not
                exceed
                dimensions of {{ max_logo_width }}x{{ max_logo_height }}.
            </p>
        </div>
    </div>
    <p style="height: 20px; clear:both;"></p>
    <p id="buttonField">
        <input type="button" id="enableButton" value="Edit" class="cyan"/>
        <input type="button" id="saveButton" value="Save details" class="cyan" style="display: none;"/>
        <input type="button" id="cancelButton" value="Cancel" class="red" style="display: none;"/>

        <span class="editModeLabel" id="editModeLabel"
              style="display: none;">You may now edit this airline's details.</span>
    </p>

    <p>
        {% if changes %}
            <h2>Changelog</h2>
            <ul>
                {% for c in changes %}
                    <li>{{ c.description }} (committed on {{ c.timestamp }})</li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
{% endblock %}

