/**
 * airlines.css
 *
 * The CSS style for airline-section only.
 */
div.column-left {
    float: left;
    width: 470px;
}

div.column-right {
    float: right;
    width: 500px;
}

span.line {
    clear: both;
    width: 400px;
    display: block;
    padding: 2px;
    height: 18px;
}

span.line .left {
    margin-right: 10px;
    display: block;
    float: left;
    clear: left;
    width: 150px;
}

span.line .right {
    font-weight: bold;
    display: block;
    float: left;
    margin-right: 5px;
    min-width: 10px;
}

span.line .none {
    color: #999999;
    font-weight: normal;
}

#bodyWrapper input[type=text].inline {
    padding: 0;
}

p#details {
    float: left;
}

img.airline-logo {
    margin: 10px 0px;
}

div.logo-form {
    display: block;
}

div.logo-form p.upload-info {
    font-size: 0.8em;
    margin: 10px;
}